body {
	font-size: 12pt;
}

h1 {
    font-family: Georgia, Times, "Noto Sans", "Noto Sans CJK TC", "Noto Sans CJK", serif;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
 }

code {
    white-space: pre-wrap;
    word-wrap: break-word;
 }