body {
    font-size: 12pt !important;
    font-family: "Times New Roman", Times, "PingFang TC", "Noto Sans", "Noto Sans CJK TC", "Noto Sans CJK", "Apple LiGothic Medium", "LiHei Pro Medium", serif !important;
}

h1 {
    font-family: Georgia, Times, "PingFang TC", "Noto Sans", "Noto Sans CJK TC", "Noto Sans CJK", "Apple LiGothic Medium", "LiHei Pro Medium", serif;
}

pre {
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
 }

code {
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
 }